*{
    margin: 0;
    padding: 0;
}
.first-div{
    background-color: rgb(130,66,30);
    height:396px;
}
.first-div h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.second-div{
    background-color: rgb(198,152,92);
    height: 396px;
}
.second-div ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.second-div ul li a{
    text-decoration: none;
    color: green;
}
.paragraph{
    padding-left:  30%;
    line-height: 25px;
}
.second-div p{
    color: rgb(130,66,30);
}